@import "tailwindcss";

:root {
  --background: #191919;
  --foreground: #e6e6e6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  min-width: 100%;
  width: max-content;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background: var(--background);
}
